*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*FONT*/
@font-face {
  font-family: "Lato-Regular";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato-Regular", sans-serif;
}
